#head_parent
  .head_main
    ul(id='left_links' class='head_links')
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
    h3(class='head_title')
      a Lihte
    ul(id='right_links' class='head_links')
      li
        a(href='/login') Login
      li
        a(href='/apply') Apply
