#gallery_parent{
  width: 100%;
  height: 100vh;
}

#main_logo{
  text-align: center;
  position: relative;
  width: 200px;
  left: 50%;
  top: 50%;
  height: 40px;
  vertical-align: center;
  -webkit-transform: translate(-100px,-100px);
  transform: translate(-100px -100px);
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

#login_button{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-75px,40px);
  width: 150px;
}
#stylist_button{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-75px,80px);
  width: 150px;
}
#pr_button{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-75px,120px);
  width: 150px;
}
#login_options{
  display: none;
}
#stylist_login_menu .email_field{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(76px,80px);
}
#stylist_login_menu .password_field{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(76px, 120px);
}
#stylist_login_menu .submit_button{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(76px, 161px);
}
#pr_login_menu .email_field{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-226px,120px);
}
#pr_login_menu .password_field{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-226px, 161px);
}
#pr_login_menu .submit_button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-226px, 201px);
}

#pr_login_menu{
  display: none;
}
#stylist_login_menu{
  display: none;
}

