doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='author', content="Casey Corvino")
    meta(name='description' content="Lihte Web App")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    block content
