#gallery_parent
  h1(id='main_logo') Lihte
  .boxed_button#login_button Login
  #login_options
    .boxed_button#stylist_button Stylist
    .boxed_button#pr_button Public Relations
  #stylist_login_menu
    form(action="")
      input(class="email_field" class="boxed_field" type="text" name="email" placeholder="Email")
      input(class="password_field" class="boxed_field" type="password" name="password" placeholder="Password")
      input(class="submit_button" class="boxed_submit" type="submit" value="Login")
  #pr_login_menu
    form(action="")
      input(class="email_field" class="boxed_field" type="text" name="email" placeholder="Email")
      input(class="password_field" class="boxed_field" type="password" name="password" placeholder="Password")
      input(class="submit_button" class="boxed_submit" type="submit" value="Login")